@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: 'Noto Serif', serif;
  color: #5f5f5f;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  h2 {
    font-size: 26px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2rem;
  }
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    -webkit-box-shadow: 5px 0 5px #cfcfcf;
            box-shadow: 5px 0 5px #cfcfcf;
    background-color: #fff;
  }
  .header .header-inner {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
  }
  .header .header-inner .menuicon {
    width: 50px;
    margin-left: auto;
  }
  .header .header-inner .menuicon span {
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;
    background-color: #5f5f5f;
    border-radius: 15px/15px;
  }
  .header .header-inner #flag {
    display: none;
  }
  .header .header-inner .mask {
    display: block;
    position: fixed;
    top: 70px;
    right: -100vw;
    width: 100VW;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
  }
  .header .header-inner #flag:checked ~ .mask {
    right: 0;
  }
  .header .header-inner .header-logo__main {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
  }
  .header .header-inner .header-navi {
    display: block;
    position: fixed;
    top: 70px;
    right: -70vw;
    width: 70vw;
    Z-index:1500;
    height: calc(100vh - 70px);
    background-color: #fff;
    color: #5f5f5f;
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
  }
  .header .header-inner .header-navi ul .header-navi__list {
    display: block;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 2rem;
    border-bottom: 1px solid #5f5f5f;
  }
  .header .header-inner #flag:checked ~ .header-navi {
    right: 0;
  }
  .main {
    width: 100%;
    margin-top: 70px;
  }
  .main .top {
    height: calc(100vh - 70px);
    position: relative;
  }
  .main .top .top-inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
  .main .top .top-inner .top-textarea {
    position: absolute;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    top: 50%;
    padding: 10px;
    z-index: 1000;
  }
  .main .top .top-inner .top-textarea .top-catchcopy {
    padding: 20px;
    font-size: 3rem;
  }
  .main .top .top-inner .top-textarea .top-subcopy {
    padding: 20px;
    font-size: 2.5rem;
  }
  .main .top .top-inner .top-textarea .top-text {
    margin: 20px;
    font-size: 3rem;
    display: inline-block;
    position: relative;
  }
  .main .top .top-inner .top-textarea .top-text::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 110%;
    height: 5px;
    background-color: #cfcfcf;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main .top .top-inner .top-imagearea {
    margin-left: auto;
    width: 70%;
    height: 100%;
    background: url(https://naokiimanishi.github.io/MyPortfolio/img/portfolio01.jpg) no-repeat;
    background-position: right 30% bottom 0;
    background-size: cover;
  }
  .main .top .scrolltext {
    position: absolute;
    padding: 0 10px;
    right: 0;
    bottom: 10px;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .main .top .scrolltext p {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-family: 'Oswald', sans-serif;
    color: black;
  }
  .about {
    padding: 100px 0 50px 0;
    width: 100%;
  }
  .about h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative;
    letter-spacing: 1rem;
  }
  .about h2::after {
    content: "私について";
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #797979;
  }
  .about .about-inner {
    padding: 50px 0 25px 0;
    width: 90%;
    margin: 0 auto;
  }
  .about .about-inner .about-profilearea {
    width: 90%;
    text-align: center;
    margin: 50px auto 0 auto;
  }
  .about .about-inner .about-profilearea h3 {
    margin: 50px 0;
  }
  .about .about-inner .about-profilearea .profile-iconarea img {
    width: 100%;
    border-radius: 15px/15px;
  }
  .about .about-inner .about-textarea {
    width: 100%;
    padding: 0 5%;
  }
  .about .about-inner .about-textarea p {
    margin: 2rem 0;
  }
  .about .about-inner .about-textarea p:nth-of-type(3) {
    margin-top: 5rem;
  }
  .skill {
    padding: 50px 0;
    width: 100%;
  }
  .skill h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative;
    letter-spacing: 1rem;
  }
  .skill h2::after {
    content: "能力";
    display: inline-block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #ff7070;
  }
  .skill .skill-inner {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skill .skill-inner .skill-card {
    width: 90%;
    margin: 10px auto 10px auto;
    border: 1px solid #cfcfcf;
    border-radius: 10px/10px;
    background-color: #f1f1f1;
    -webkit-box-shadow: 5px 5px 5px #b1b1b1;
            box-shadow: 5px 5px 5px #b1b1b1;
  }
  .skill .skill-inner .skill-card .card-title {
    padding: 10px 20px;
    letter-spacing: 3px;
  }
  .skill .skill-inner .skill-card .card-image {
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
  }
  .skill .skill-inner .skill-card .card-image img {
    height: 80px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .skill .skill-inner .skill-card .card-text {
    padding: 20px;
  }
  .skill .skill-inner .skill-card:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .work {
    padding: 50px 0;
  }
  .work .work-heding {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    letter-spacing: 1rem;
  }
  .work .work-heding::after {
    content: "制作実績";
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #7070ff;
  }
  .work .work-inner {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
  }
  .work .work-inner .work-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 50px 0;
  }
  .work .work-inner .work-items .work-image {
    width: 100%;
  }
  .work .work-inner .work-items .work-image img {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .work .work-inner .work-items .work-textarea {
    width: 100%;
    padding: 20px 0;
  }
  .work .work-inner .work-items .work-textarea .work-text {
    margin-top: 20px;
    font-size: 2rem;
  }
  .work .work-inner .work-items:nth-of-type(even) .work-textarea {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .work .work-inner .work-items:nth-of-type(even) .work-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact {
    background-color: #f0f0f0;
    width: 100%;
    padding: 50px 0;
  }
  .contact .contact-heding {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    letter-spacing: 1rem;
  }
  .contact .contact-heding::after {
    content: "お問い合わせ";
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #39df0f;
  }
  .contact .contact-inner {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
  }
  .contact .contact-inner .contact-wrap .contact-left {
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea {
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea label {
    display: block;
    font-size: 1.4rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea input {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea {
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea label {
    display: block;
    font-size: 1.4rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea input {
    display: block;
    font-size: 1.4rem;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea {
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea label {
    display: block;
    font-size: 1.4rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea input {
    display: block;
    font-size: 1.4rem;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-right {
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea {
    height: 100%;
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea label {
    display: block;
    font-size: 1.4rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea textarea {
    display: block;
    font-size: 1.4rem;
    width: 100%;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
  }
  .contact .contact-inner .contact-wrap .submitarea {
    width: 100%;
    text-align: center;
    margin: 25px auto 0 auto;
    font-size: 1.4rem;
  }
  .contact .contact-inner .contact-wrap .submitarea input {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    -webkit-box-shadow: 0 0 10px #9b9b9b;
            box-shadow: 0 0 10px #9b9b9b;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .contact .contact-inner .contact-wrap .submitarea input:hover {
    background-color: #ff6464;
    color: white;
    -webkit-box-shadow: 0 0 10px #8f3b3b inset;
            box-shadow: 0 0 10px #8f3b3b inset;
  }
  .footer {
    width: 100%;
    text-align: center;
  }
  .footer .footer-inner {
    width: 90%;
    margin: 0 auto;
  }
  .footer .footer-inner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-inner ul li {
    margin: 10px 20px;
  }
  .footer .footer-inner ul li img {
    width: 25px;
    height: 25px;
  }
  .footer .copy {
    font-size: 1.2rem;
    color: black;
  }
}

@media screen and (min-width: 481px) and (max-width: 1029px) {
  h1 {
    font-size: 48px;
    font-weight: bold;
  }
  h2 {
    font-size: 36px;
    font-weight: bold;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2rem;
  }
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    -webkit-box-shadow: 5px 0 5px #cfcfcf;
            box-shadow: 5px 0 5px #cfcfcf;
    background-color: #fff;
  }
  .header .header-inner {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
  }
  .header .header-inner .menuicon {
    width: 50px;
    margin-left: auto;
  }
  .header .header-inner .menuicon span {
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px;
    background-color: #5f5f5f;
    border-radius: 15px/15px;
  }
  .header .header-inner #flag {
    display: none;
  }
  .header .header-inner .mask {
    display: block;
    position: fixed;
    top: 70px;
    right: -100vw;
    width: 100VW;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
  }
  .header .header-inner #flag:checked ~ .mask {
    right: 0;
  }
  .header .header-inner .header-logo__main {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
  }
  .header .header-inner .header-navi {
    display: block;
    position: fixed;
    top: 70px;
    right: -70vw;
    width: 70vw;
    height: calc(100vh - 70px);
    background-color: #fff;
    color: #5f5f5f;
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
    Z-index:1500;
  }
  .header .header-inner .header-navi ul .header-navi__list {
    display: block;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 2rem;
    border-bottom: 1px solid #5f5f5f;
  }
  .header .header-inner #flag:checked ~ .header-navi {
    right: 0;
  }
  .main {
    width: 100%;
    margin-top: 100px;
  }
  .main .top {
    height: calc(100vh - 120px);
    position: relative;
  }
  .main .top .top-inner {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
  .main .top .top-inner .top-textarea {
    position: absolute;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    top: 50%;
    padding: 50px;
    z-index: 1000;
  }
  .main .top .top-inner .top-textarea .top-catchcopy {
    padding: 50px;
    font-size: 4rem;
  }
  .main .top .top-inner .top-textarea .top-subcopy {
    padding: 50px;
    font-size: 4rem;
  }
  .main .top .top-inner .top-textarea .top-text {
    margin: 50px;
    font-size: 5rem;
    display: inline-block;
    position: relative;
  }
  .main .top .top-inner .top-textarea .top-text::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 110%;
    height: 5px;
    background-color: #cfcfcf;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main .top .top-inner .top-imagearea {
    margin-left: auto;
    width: 70%;
    height: 100%;
    background: url(https://naokiimanishi.github.io/MyPortfolio/img/portfolio01.jpg);
    background-position: right 30% bottom 0;
    background-size: cover;
  }
  .main .top .scrolltext {
    position: absolute;
    padding: 0 30px;
    right: 0;
    bottom: 10px;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .main .top .scrolltext p {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-family: 'Oswald', sans-serif;
    color: black;
  }
  .about {
    padding: 100px 0 50px 0;
    width: 100%;
  }
  .about h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative;
    letter-spacing: 1rem;
  }
  .about h2::after {
    content: "私について";
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #797979;
  }
  .about .about-inner {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-inner .about-profilearea {
    width: 50%;
    text-align: center;
    margin-top: 50px;
  }
  .about .about-inner .about-profilearea h3 {
    margin: 50px 0;
  }
  .about .about-inner .about-profilearea .profile-iconarea img {
    width: 70%;
    border-radius: 15px/15px;
  }
  .about .about-inner .about-textarea {
    width: 50%;
    padding: 0 5%;
  }
  .about .about-inner .about-textarea p {
    margin: 2rem 0;
  }
  .about .about-inner .about-textarea p:nth-of-type(3) {
    margin-top: 5rem;
  }
  .skill {
    padding: 50px 0;
    width: 100%;
  }
  .skill h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative;
    letter-spacing: 1rem;
  }
  .skill h2::after {
    content: "能力";
    display: inline-block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #ff7070;
  }
  .skill .skill-inner {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .skill .skill-inner .skill-card {
    width: 45%;
    margin: 2.5%;
    border: 1px solid #cfcfcf;
    border-radius: 10px/10px;
    background-color: #f1f1f1;
    -webkit-box-shadow: 5px 5px 10px #b1b1b1;
            box-shadow: 5px 5px 10px #b1b1b1;
  }
  .skill .skill-inner .skill-card .card-title {
    padding: 20px 50px;
    letter-spacing: 3px;
  }
  .skill .skill-inner .skill-card .card-image {
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
  }
  .skill .skill-inner .skill-card .card-image img {
    height: 120px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .skill .skill-inner .skill-card .card-text {
    padding: 50px;
  }
  .skill .skill-inner .skill-card:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .work {
    padding: 50px 0;
  }
  .work .work-heding {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    letter-spacing: 1rem;
  }
  .work .work-heding::after {
    content: "制作実績";
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #7070ff;
  }
  .work .work-inner {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
  }
  .work .work-inner .work-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 50px 0;
  }
  .work .work-inner .work-items .work-image {
    width: 48%;
  }
  .work .work-inner .work-items .work-image img {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .work .work-inner .work-items .work-textarea {
    width: 48%;
    padding: 50px;
  }
  .work .work-inner .work-items .work-textarea .work-text {
    margin-top: 50px;
    font-size: 2rem;
  }
  .work .work-inner .work-items:nth-of-type(even) .work-textarea {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .work .work-inner .work-items:nth-of-type(even) .work-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact {
    background-color: #f0f0f0;
    width: 100%;
    padding: 50px;
  }
  .contact .contact-heding {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    letter-spacing: 1rem;
  }
  .contact .contact-heding::after {
    content: "お問い合わせ";
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #39df0f;
  }
  .contact .contact-inner {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
  }
  .contact .contact-inner .contact-wrap .contact-left {
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea {
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea label {
    display: block;
    font-size: 1.4rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea input {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea {
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea label {
    display: block;
    font-size: 1.4rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea input {
    display: block;
    font-size: 1.4rem;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea {
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea label {
    display: block;
    font-size: 1.4rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea input {
    display: block;
    font-size: 1.4rem;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-right {
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea {
    height: 100%;
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea label {
    display: block;
    font-size: 1.4rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 1.4rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea textarea {
    display: block;
    font-size: 1.4rem;
    width: 100%;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
  }
  .contact .contact-inner .contact-wrap .submitarea {
    width: 100%;
    text-align: center;
    margin: 25px auto 0 auto;
    font-size: 1.4rem;
  }
  .contact .contact-inner .contact-wrap .submitarea input {
    padding: 10px 50px;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    -webkit-box-shadow: 0 0 10px #9b9b9b;
            box-shadow: 0 0 10px #9b9b9b;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .contact .contact-inner .contact-wrap .submitarea input:hover {
    background-color: #ff6464;
    color: white;
    -webkit-box-shadow: 0 0 10px #8f3b3b inset;
            box-shadow: 0 0 10px #8f3b3b inset;
  }
  .footer {
    width: 100%;
    text-align: center;
  }
  .footer .footer-inner {
    width: 90%;
    margin: 0 auto;
  }
  .footer .footer-inner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-inner ul li {
    margin: 10px 20px;
  }
  .footer .footer-inner ul li img {
    width: 30px;
    height: 30px;
  }
  .footer .copy {
    font-size: 1.2rem;
    color: black;
  }
}

@media screen and (min-width: 1030px) {
  h1 {
    font-size: 60px;
    font-weight: bold;
  }
  h2 {
    font-size: 48px;
    font-weight: bold;
  }
  h3 {
    font-size: 28px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2rem;
  }
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    -webkit-box-shadow: 5px 0 5px #cfcfcf;
            box-shadow: 5px 0 5px #cfcfcf;
    background-color: #fff;
  }
  .header .header-inner {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
  .header .header-inner #flag {
    display: none;
  }
  .header .header-inner .menuicon {
    display: none;
  }
  .header .header-inner .header-logo__main {
    font-family: 'Oswald', sans-serif;
  }
  .header .header-inner .header-navi {
    margin-left: auto;
  }
  .header .header-inner .header-navi ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-inner .header-navi ul .header-navi__list {
    display: block;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0 1rem;
    position: relative;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .header .header-inner .header-navi ul .header-navi__list::after {
    content: "";
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    left: 50%;
    margin: auto;
    bottom: 10%;
    width: 50%;
    height: 3px;
    background-color: #575757;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .header .header-inner .header-navi ul .header-navi__list:hover::after {
    width: 110%;
    bottom: 0;
    opacity: 1;
  }
  .main {
    width: 100%;
    margin-top: 100px;
  }
  .main .top {
    height: calc(100vh - 120px);
    position: relative;
  }
  .main .top .top-inner {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
  .main .top .top-inner .top-textarea {
    position: absolute;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    top: 50%;
    padding: 50px;
    z-index: 1000;
  }
  .main .top .top-inner .top-textarea .top-catchcopy {
    padding: 50px;
    font-size: 5rem;
  }
  .main .top .top-inner .top-textarea .top-subcopy {
    padding: 50px;
    font-size: 5rem;
  }
  .main .top .top-inner .top-textarea .top-text {
    margin: 50px;
    font-size: 6rem;
    display: inline-block;
    position: relative;
  }
  .main .top .top-inner .top-textarea .top-text::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 110%;
    height: 5px;
    background-color: #cfcfcf;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main .top .top-inner .top-imagearea {
    margin-left: auto;
    width: 70%;
    height: 100%;
    background: url(https://naokiimanishi.github.io/MyPortfolio/img/portfolio01.jpg);
    background-size: cover;
  }
  .main .top .scrolltext {
    position: absolute;
    padding: 0 30px;
    right: 0;
    bottom: 10px;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .main .top .scrolltext p {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-family: 'Oswald', sans-serif;
    color: black;
  }
  .about {
    padding: 100px 0 50px 0;
    width: 100%;
  }
  .about h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative;
    letter-spacing: 1rem;
  }
  .about h2::after {
    content: "私について";
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #797979;
  }
  .about .about-inner {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-inner .about-profilearea {
    width: 50%;
    text-align: center;
    margin-top: 50px;
  }
  .about .about-inner .about-profilearea h3 {
    margin: 50px 0;
  }
  .about .about-inner .about-profilearea .profile-iconarea img {
    width: 70%;
    border-radius: 15px/15px;
  }
  .about .about-inner .about-textarea {
    width: 50%;
    padding: 0 5%;
  }
  .about .about-inner .about-textarea p {
    margin: 2rem 0;
  }
  .about .about-inner .about-textarea p:nth-of-type(3) {
    margin-top: 5rem;
  }
  .skill {
    padding: 50px 0;
    width: 100%;
  }
  .skill h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative;
    letter-spacing: 1rem;
  }
  .skill h2::after {
    content: "能力";
    display: inline-block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #ff7070;
  }
  .skill .skill-inner {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skill .skill-inner .skill-card {
    width: 32%;
    margin: 0.63%;
    border: 1px solid #cfcfcf;
    border-radius: 10px/10px;
    background-color: #f1f1f1;
    -webkit-box-shadow: 5px 5px 10px #b1b1b1;
            box-shadow: 5px 5px 10px #b1b1b1;
  }
  .skill .skill-inner .skill-card .card-title {
    padding: 20px 50px;
    letter-spacing: 3px;
  }
  .skill .skill-inner .skill-card .card-image {
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
  }
  .skill .skill-inner .skill-card .card-image img {
    height: 120px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .skill .skill-inner .skill-card .card-text {
    padding: 50px;
  }
  .skill .skill-inner .skill-card:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .work {
    padding: 50px 0;
  }
  .work .work-heding {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    letter-spacing: 1rem;
  }
  .work .work-heding::after {
    content: "制作実績";
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #7070ff;
  }
  .work .work-inner {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
  }
  .work .work-inner .work-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 50px 0;
  }
  .work .work-inner .work-items .work-image {
    width: 48%;
  }
  .work .work-inner .work-items .work-image img {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .work .work-inner .work-items .work-textarea {
    width: 48%;
    padding: 50px;
  }
  .work .work-inner .work-items .work-textarea .work-text {
    margin-top: 50px;
    font-size: 2rem;
  }
  .work .work-inner .work-items:nth-of-type(even) .work-textarea {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .work .work-inner .work-items:nth-of-type(even) .work-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact {
    background-color: #f0f0f0;
    width: 100%;
    padding: 50px;
  }
  .contact .contact-heding {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    letter-spacing: 1rem;
  }
  .contact .contact-heding::after {
    content: "お問い合わせ";
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: -1rem;
    left: 50%;
    font-size: 2rem;
    color: #39df0f;
  }
  .contact .contact-inner {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
  }
  .contact .contact-inner .contact-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contact-inner .contact-wrap .contact-left {
    width: 50%;
    padding: 0 50px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea {
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea label {
    display: block;
    font-size: 3rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 2rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-namearea input {
    display: block;
    width: 100%;
    font-size: 3rem;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea {
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea label {
    display: block;
    font-size: 3rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 2rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-emailarea input {
    display: block;
    font-size: 3rem;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea {
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea label {
    display: block;
    font-size: 3rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 2rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-left .contact-titlearea input {
    display: block;
    font-size: 3rem;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
    width: 100%;
  }
  .contact .contact-inner .contact-wrap .contact-right {
    width: 50%;
    padding: 0 50px;
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea {
    height: 100%;
    margin: 20px;
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea label {
    display: block;
    font-size: 3rem;
    position: relative;
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea label::after {
    position: absolute;
    content: "必須";
    right: 0;
    top: 50%;
    background-color: #ff6464;
    color: white;
    border-radius: 5px/5px;
    font-size: 2rem;
    padding: 0 0.5rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .contact .contact-inner .contact-wrap .contact-right .contact-textarea textarea {
    display: block;
    font-size: 3rem;
    width: 100%;
    -webkit-box-shadow: 0 0 10px #cecece inset;
            box-shadow: 0 0 10px #cecece inset;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    padding: 5px;
  }
  .contact .contact-inner .contact-wrap .submitarea {
    width: 50%;
    text-align: center;
    margin: 100px auto 0 auto;
    font-size: 2rem;
    padding: 50px;
  }
  .contact .contact-inner .contact-wrap .submitarea input {
    padding: 10px 50px;
    background-color: #fff;
    border-radius: 5px/5px;
    color: black;
    -webkit-box-shadow: 0 0 10px #9b9b9b;
            box-shadow: 0 0 10px #9b9b9b;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .contact .contact-inner .contact-wrap .submitarea input:hover {
    background-color: #ff6464;
    color: white;
    -webkit-box-shadow: 0 0 10px #8f3b3b inset;
            box-shadow: 0 0 10px #8f3b3b inset;
  }
  .footer {
    width: 100%;
    text-align: center;
  }
  .footer .footer-inner {
    width: 90%;
    margin: 0 auto;
  }
  .footer .footer-inner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-inner ul li {
    margin: 10px 20px;
  }
  .footer .footer-inner ul li img {
    width: 50px;
    height: 50px;
  }
  .footer .copy {
    font-size: 1.2rem;
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */
